Repository TheMohit2003/languageTranslator, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, config, ci, tooling, Docker

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md

frontend:
  - src/**/*
  - public/**/*
  - vite.config.ts
  - tsconfig.json

backend:
  - server/**/*
  - api/**/*

config:
  - .prettierrc
  - .eslintrc.js
  - .env
  - .env.example
  - .gitignore
  - jest.config.js
  - package.json
  - yarn.lock
  - tsconfig.node.json

ci:
  - .github/workflows/**/*

tooling:
  - .husky/**/*
  - .vscode/**/*
  
Docker:
  - Dockerfile

husky added in dependencies
  package.json
Labels: config

ignore .env
  .gitignore
Labels: config

added feature request template
  .github/ISSUE_TEMPLATE/feature_report.md
  .nvmrc
  README.md
Labels: documentation

added docker file
  Dockerfile
  package-lock.json
  yarn.lock
Labels: config, Docker

removed empty .env
  .env
Labels: config

added contribution guide
  CONTRIBUTING.md
Labels: documentation

label bot bug fixed
  .editorconfig
  .github/workflows/labeler-workflow.yml
Labels: ci

added develop branch to dependabot
  .github/workflows/dependabot.yml
Labels: ci
